@{
    ViewData["Title"] = "Home Page";
}

<h3>Query Students by Student ID</h3>
<form asp-action="StudentsByID" method="get">
    <input name="ID" placeholder="Enter a student ID" />
    <input type="submit" />
</form>

<h3>Query Students by Name</h3>
<form asp-action="StudentsByName" method="get">
    <input name="Name" placeholder="Enter a student Name" />
    <input type="submit" />
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
